@media screen and (max-width: 1310px) {
  .game {
    max-height: 1023px;
  }
  .game__title,
  .game__descr {
    max-width: 460px;
  }
  .game__img {
    flex-direction: column;
    margin-left: 32px;
    align-items: flex-end;
  }
  .game__content {
    margin-top: 51px;
  }
  .game__image {
    margin-top: -438px;
    margin-left: 32px;
  }
  .game-console__ps5 {
    margin-top: -54px;
  }
  .hp__left,
  .hp__left {
    max-width: 460px;
  }
  .hp__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
  }
  .logos-separator {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .logos-separator + .hp__logo {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .header__container {
    padding-top: 26px;
  }
  .header__logo {
    padding-left: 8px;
  }
  .header__social {
    padding-right: 42px;
  }
  .hero-info {
    margin-right: 42px;
  }
  .hero-info__title {
    margin-bottom: 28px;
  }
  .about__title {
    max-width: 620px;
  }
  .about__descr {
    max-width: 788px;
  }
  .about__images {
    max-width: 952px;
    flex-direction: column;
  }
  .about__image--mini:not(:last-child) {
    margin-right: 32px;
  }
  .about__image--big {
    min-width: 100%;
  }
  .about__left {
    display: flex;
    width: 100%;
  }
  .game {
    max-height: 1080px;
  }
  .stoke {
    display: block;
  }
  .game__title {
    padding-top: 42px;
    margin-left: 9px;
    margin-bottom: 0px;
  }

  .form__label {
    margin-top: 34px;
  }
  .form__label__text {
    top: 51px;
    left: 130px;
  }

  .hp {
    padding-bottom: 70px;
  }
  .hp__about__images {
    flex-direction: row;
    margin-top: 18px;
  }
  .hp__left {
    padding-top: 42px;
  }
  .hp__logos {
    top: 20px;
    left: -3px;
  }
  picture {
    flex: 0 1 30.5%;
  }
  .buy-container {
    max-height: 717px;
  }
  .buy__image {
    object-fit: cover;
  }
  .buy__content {
    flex: 1 1 60%;
    padding-left: 32px;
  }
  .footer__top {
    padding-bottom: 7px;
  }
  .footer__link {
    letter-spacing: -0.1px;
  }
  .footer__link:nth-child(1) {
    margin-right: 27px;
  }
  .footer__bottom {
    letter-spacing: 1.5px;
  }
  .footer__right {
    padding-right: 48px;
  }
}
@media (min-width: 773px) and (max-width: 968px) {
  .footer__top {
    flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 773px) {
  body {
    font-size: 16px;
    line-height: 19px;
  }

  .container {
    padding: 0 0;
  }

  .header__container,
  .about__images,
  .about__left,
  .buy-container {
    flex-direction: column;
  }

  .header__social {
    padding-right: 0px;
  }

  .social__link {
    width: 25px;
    height: 25px;
  }
  .social__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-title {
    padding: 0 10px;
    font-size: 30px;
    line-height: 31px;
  }

  .hero {
    height: 733px;
    text-align: center;
  }

  .hero-infо__btn {
    font-size: 20px;
    line-height: 40px;
  }

  .site-descr {
    padding: 0 10px;
    font-size: 16px;
    line-height: 32px;
  }

  .site__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .hero-info {
    margin-right: 0px;
    padding: 30px 12px;
  }

  .hero-info__title {
    font-size: 30px;
    line-height: 31px;
  }

  .about__image {
    margin-bottom: 28px;
  }

  .about__images img {
    width: 100%;
  }

  .about__image--mini:not(:last-child) {
    margin-right: 0px;
  }

  .about__image--big img {
    height: 424px;
  }

  .game__content {
    padding: 0 12px;
    min-width: 300px;
  }
  .game__title {
    margin-top: 25px;
  }
  .form__input {
    font-size: 16px;
    line-height: 19px;
  }

  .form__label__text {
    font-size: 16px;
    line-height: 19px;
  }

  .form__label__images {
    display: none;
  }

  .game__img-hidden {
    display: block;
  }

  .game__img {
    display: none;
  }

  .form__label {
    padding: 51px 65px;
  }

  .hp__about__images {
    align-items: center;
    margin-right: 0;
  }

  .hp__left,
  .hp__right {
    width: 100%;
    max-width: none;
  }
  .hp__left {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .hp__logos {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .hp__logo {
    width: 45px;
  }
  picture {
    width: 100%;
  }

  .buy-container {
    max-height: none;
  }

  .footer__link {
    display: block;
    text-align: center;
  }

  .footer__left {
    padding-right: 0px;
  }
  .footer__top {
    padding: 0;
  }

  .footer__right {
    width: 100%;
    padding: 33px 0;
    background-color: #e6e6e6;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .hero-info {
    margin-bottom: -32px;
  }
  .hero-info__title {
    margin-bottom: 23px;
  }

  .hero-infо__btn {
    padding: 12px 49px;
  }
  .about {
    padding-top: 100px;
  }
  .about__descr {
    margin-bottom: 90px;
  }
  .about__image--mini img {
    min-height: 196px;
  }
  .stoke {
    display: block;
    margin-bottom: -20px;
    max-width: 62px;
    height: 62px;
  }
  .game {
    padding-top: 57px;
    padding-left: 9px;
    padding-right: 15px;
  }
  .game__img-hidden {
    min-height: 196px;
  }

  .game::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
  }
  .site-title {
    margin-top: 54px;
    padding: 0;
  }
  .site-descr,
  .game__content {
    padding: 0;
  }
  .game__content {
    margin-top: 30px;
  }
  .form__label__text {
    text-align: center;
  }
  .hp {
    padding-top: 67px;
  }
  .hp > img {
    min-height: none;
  }
  .logos-separator::before,
  .logos-separator::after {
    width: 60px;
  }
  .hp__logo-cyberpank {
    width: 175px;
  }
  .footer__top {
    flex-direction: column;
  }
  .copyright {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 320px) {
  .hp::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
  }
  .footer__top {
    flex-direction: column;
  }
}
